.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../public/black-smooth-textured-paper-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.login-box {
    background-color: white;
    width: 400px;
    padding: 30px 50px;

    .form-field {
        position: relative;
        margin-bottom: 22px;
        background-color: rgba(186, 186, 186, 0.1);
        height: 48px;
        border: 2px solid transparent;

        input {
            background-color: transparent;
            border: none;
            color: rgb(31, 31, 31);
            width: -webkit-fill-available;
            padding: 21px 8px 8px;
            box-sizing: border-box;
            outline: none;
            height: 100%;
            font-size: 1.2rem;
            font-weight: 800;
            transition: all 0.3s ease;
        }

        label {
            color: rgb(102, 102, 102);
            font-size: 0.9rem;
            position: absolute;
            top: 15px;
            left: 16px;
            opacity: 1;
            line-height: normal;
            pointer-events: none;
            font-weight: 700;
            letter-spacing: 0.04rem;
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
            transform: scale(1);
        }

        span.secondary-label {
            color: rgb(102, 102, 102);
            font-size: 0.7rem;
            position: absolute;
            top: 3px;
            left: 9px;
            opacity: 0;
            line-height: normal;
            pointer-events: none;
            font-weight: 700;
            letter-spacing: 0.06rem;
            transform-origin: left top;
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            transform: translateY(-50%);
        }

        span.validation-message {
            position: absolute;
            color: rgb(213, 50, 53);
            font-size: 0.7rem;
            font-weight: 500;
            top: 50px;
            left: 3px;
            opacity: 0;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            transform: translateY(-50%);
        }

        span.validation-message.show {
            opacity: 1;
            transform: translateY(0%);
        }

        .icon {
            color: rgb(102, 102, 102);
            position: absolute;
            top: 13px;
            right: 16px;
            pointer-events: none;
        }

        &.error {
            border: 2px solid rgb(213, 50, 53);
        }

        &:focus-within {
            border: 2px solid rgb(31, 31, 31);
        }

        &.error:focus-within {
            border: 2px solid rgb(213, 50, 53);
        }

        :hover {
            background-color: rgba(184, 184, 184, 0.1);
            transition: all 0.3s ease;
        }
    }

    .username-field.active {
        label {
            transform: scale(0);
            opacity: 0;
        }

        span.secondary-label {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .password-field.active {
        label {
            transform: scale(0);
            opacity: 0;
        }

        span.secondary-label {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    h5 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

.login-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .choice {
        padding: 5px 0px;
        width: 49%;
        text-align: center;
        border: 1px solid #ebebeb;
        border-radius: 15px;
        transition: 0.3s all ease;
        cursor: pointer;
        background-color: white;
        margin-bottom: 5px;

        &:hover {
            background-color: rgba(184, 184, 184, 0.1);
        }
    }
}

.form-checkbox {
    display: flex;
    margin-top: 20px;
    align-items: center;

    label {
        color: rgb(102, 102, 102);
        margin-left: 5px;
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 0.3 all ease;

    button {
        padding: 20px;
        border-radius: 30px;
        border: 2px solid rgba(71, 71, 71, 0.3);
        background-color: white;
        transition: 0.3 all ease;
        cursor: pointer;

        .login-choice-icon {
            color: rgba(37, 37, 37, 0.4);
        }

        &:hover {
            background-color: rgb(213, 50, 53);
            transition: 0.3 all ease;
            .login-choice-icon {
                color: white;
                transition: 0.3 all ease;
            }
        }
    }
}

.alternative {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    div {
        text-align: center;

        a {
            color: rgb(116, 116, 116);
            font-size: 0.8rem;
            font-weight: 700;
            letter-spacing: 0.06rem;

            &:hover {
                color: rgb(75, 75, 75);
            }
        }
    }
}
